<h3 class="mb-3"><%= pageTitle %></h3>

<form method="post" action="/gameuser">
  <div class="mb-3">
    <label for="name" class="form-label">Nama User</label>
    <input type="text" class="form-control" name="name" id="name" required />
  </div>
   
   <div class="mb-3">
    <label for="username" class="form-label">User Name</label>

    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      required
    />
  </div>

   <div class="mb-3">
    <label for="password" class="form-label">Password</label>

    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      required
    />
  </div>
  <div class="mb-3">
    <label for="placeOfBirth class="form-label">Tempat Lahir</label>

    <input
      type="text"
      class="form-control"
      id="placeOfBirth"
      name="placeOfBirth"
      required
    />
 
  <div class="mb-3">
    <label for="dateOfBirth" class="form-label">Tanggal Lahir</label>
    <input
      type="date"
      class="form-control"
      id="dateOfBirth"
      name="dateOfBirth"
      required
    />
  </div>
  <div class="mb-3">
    <label for="address" class="form-label">Alamat</label>
    <textarea
      type="text"
      class="form-control"
      id="address"
      name="address"
      min="0"
      required
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" required />
  </div>

  <div class="mb-3">
    <label for="phoneNumber" class="form-label">Nomor Telepon</label>
    <input
      type="tel"
      class="form-control"
      id="phoneNumber"
      name="phoneNumber"
      min="0"
      required
    />
  </div>

  <div class="row">
    <div class="col-auto">
      <button type="button" onclick="history.back()" class="btn btn-danger">
        Batal
      </button>
    </div>

    <div class="col-auto">
      <button type="reset" class="btn btn-secondary">Reset</button>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
