<div class="container">
  <div
    id="carouselExampleInterval"
    class="carousel slide w-100 mx-auto"
    style="width: 400px"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img
          src="./img/features.jpg"
          style="width: 1500px; height: 500px"
          alt="..."
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="./img/main-bg.jpg"
          style="width: 1500px; height: 500px"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="./img/requirements.png"
          style="width: 1500px; height: 500px"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleInterval"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4"> Selamat Datang di Panel Admin </span>
      </a>
    </header>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Input Data User Game</h2>
          <p>Klik Mulai jika anda ingin langsung menginput data user game</p>
          <button
            class="btn btn-outline-light"
            onclick="window.location.href='/gameusers/create'"
            type="button"
          >
            Mulai
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Input Data History Game</h2>
          <p>Klik Mulai jika anda ingin langsung menginput data history game</p>
          <button
            class="btn btn-outline-secondary"
            onclick="window.location.href='/histories/create'"
            type="button"
          >
            Mulai
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
